body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FEF9F2; 
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    color: #1c1e21; 
    margin-top: 40px;
    margin-bottom: 40px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); 
}

button {
    background-color: #789DBC; 
    color: white;
    border: none;
    border-radius: 25px;
    padding: 12px 24px;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

button:hover {
    background-color: #517796; 
    transform: scale(1.05); 
}

button:active {
    background-color: #006bb3; 
}

#results {
    margin-top: 40px;
    padding: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
    background-color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Ensures the border radius is applied */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Shadow for table */
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #e2e8f0;
}

th {
    background-color: #e6f0f3; /* Light teal for header */
    color: #333;
    text-transform: uppercase;
    font-size: 0.85em;
    letter-spacing: 0.05em;
    position: sticky; /* Sticky header */
    top: 0; /* Sticks to the top */
    z-index: 10; /* Ensures header is above other content */
}

td {
    background-color: white;
    transition: background-color 0.3s; /* Smooth transition for hover */
}

tr:hover td {
    background-color: #f1f3f5; 
}

tr:nth-child(even) td {
    background-color: #f9f9f9; /* Alternate row color for readability */
}

tr:nth-child(odd) td {
    background-color: white; /* Ensure odd rows remain white */
}

@media (max-width: 600px) {
    table {
        font-size: 14px; 
    }

    button {
        font-size: 14px; 
    }

    h1 {
        font-size: 2em; 
    }
}
